.heading{
  text-align: center;
}
.list-container{
  list-style-type: none;
  padding: 2px;
}
.item-input{
  margin-bottom: 6px;
}
.active2{
  background-color: rgb(65, 114, 184) !important;
  color:white;
}
